.login-parent{
        display: grid;
    height: 100vh;
    place-content: center;
}

.login-logo {
    width: 150px;
    margin: auto;
    display: grid;
    place-content: center;
}

.login-card{
        width: 31vw;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-header-text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.credential{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-button-section{
    display: grid;
    place-content: center;
    margin-top: 2rem;
}