.cart-root {

    text-align: center;
    margin: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;

}

.qty-input{
    width: 80px;
    margin: auto;
}

h2 {
    /* margin-left: 3rem; */
    text-align: center;
}

.cart-submit{
        display: flex;
    justify-content: end;
    margin: 1rem;
}

.duration-input{
    width: 80px;
    margin: auto;
}

.cart-instructions{
    margin: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}